body {
	background-color: Gainsboro; /* #FFCD00*/
	font-size: 2em;
}

.topSection {
	background-color: white;
	padding-bottom: 100px;
}

.playerLine {
	color: #5cb85c;
}

.wholePage {
	outline:0;
}

.glow {
	
}

.stage {
	padding: 15px 0 0 0;
	height: 470px;
}

.prompter {
	height: 100px;
}

.nextLine {
	color:DarkSlateGray;
}

.settings-panel {
	padding-top:15px;
	
}

.characterBtn  button {
	margin-right: 6px;
}


.videoTray {
	padding: 30px 30px 20px 30px;
}

.mainLine {
	font-size: 1.1em;
}

#remotes video {
	width: 100%;
	float: right;
}

#localVideo {
	width: 100%;
}

.sceneList button {
	margin-bottom: 5px;
}

.restartBtn {
	margin-top:5px;
}