body {
	background-color: beige;
	color: black; /* #FFCD00*/
	font-size: 2em;
}

.container {
 outline:0;
}

.glow {
	box-shadow: 0 0 35px blue;
}

.stage {
	background-color: #66A3D2;
	padding: 15px 0 0 0;
	height: 470px;
}

.prompter {
	height: 100px;
}

.nextLine {
	color:DarkSlateGray;
}

.settings-panel {
	background-color: beige;
	padding: 15px 0 30px 0;
}

.characterBtn  button {
	margin-left: 5px;
}


.videoTray {
	padding: 30px 30px 20px 30px;
}

#remotes video {
	height: 300px;
	float: right;
}

#localVideo {
	height: 300px;
}

.sceneList button {
	margin-bottom: 5px;
}

.restartBtn {
	margin-top:5px;
}

.characterSelectBox {
	margin-right: 15px;
}