<div class="container" ng-hide="inRoom">
		
	<h1>Acting Karaoke</h1>
	<p>Act out a scene over video chat while receiving line prompts.</p>
	<p>Enter a unique room name below to get started.</p>
	<p>Then, share the link with a friend.</p>


	<h2 id="title">Start a room</h1>
	<form id="createRoom">
		<input id="sessionInput"/>
		<button class="btn btn-success" type="submit">Create it!</button>
	</form>

	<p class="text-center" style="margin-top:30px; font-size:.7em;">By <a href="http://randylubin.com">Randy Lubin</a></p>
</div>