<div class="num-pad">
	<h2>Welcome to Jam-Sync</h2>
	<h2>Choose a 4-digit room: {{roomNumber.join('')}}</h2>
	<div class="row number-row">
		<div class="btn-holder col-xs-4"><button ng-click="addNum(1)" type="button" class="btn-primary btn-block">1</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(2)" type="button" class="btn-primary btn-block">2</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(3)" type="button" class="btn-primary btn-block">3</button></div>
	</div>
	<div class="row number-row">
		<div class="btn-holder col-xs-4"><button ng-click="addNum(4)" type="button" class="btn-primary btn-block">4</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(5)" type="button" class="btn-primary btn-block">5</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(6)" type="button" class="btn-primary btn-block">6</button></div>
	</div>
	<div class="row number-row">
		<div class="btn-holder col-xs-4"><button ng-click="addNum(7)" type="button" class="btn-primary btn-block">7</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(8)" type="button" class="btn-primary btn-block">8</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(9)" type="button" class="btn-primary btn-block">9</button></div>
	</div>
	<div class="row number-row">
		<div class="btn-holder col-xs-4"><button ng-click="deleteNum()" type="button" class="btn-warning btn-block">Del</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="addNum(0)" type="button" class="btn-primary btn-block">0</button></div>
		<div class="btn-holder col-xs-4"><button ng-click="clearNum()" type="button" class="btn-danger btn-block">Clear</button></div>
	</div>
</div>