<div class="wholePage" tabindex="0" ui-keyup="{'enter':'hitKey($event)'}">
	<div class="topSection">
		<div class="container">		

			<!-- stage area (top of screen)-->
			<div class="stage row">

				<div class="row prompter">
					
					<!-- Left -->
					<div class="col-xs-2 text-right playerLine">
						<div class:"text-right" ng-show="playerData.charID != null">
							Current line:
						</div>
					</div>

					<!-- Center -->
					<div ng-hide="fin">
						<div class="text-center col-xs-8">
							<div ng-hide="playerData.charID != null">
								<em>No Character Selected</em>
							</div>
							<div ng-show="playerData.charID != null">
								<div class="playerLine mainLine" ng-show="sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine].charID == playerData.charID"> {{sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine].line}} </div>
								<div ng-show="sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine].charID != playerData.charID"> (Other player's line) </div>
								<div ng-show="sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine].charID != playerData.charID">
									<small class="playerLine" ng-show="sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine + 1].charID == playerData.charID">Next: {{sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine + 1].line}}</small>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="fin" class="text-center col-xs-8">Well done! Pick a new scene below...</div>

					<!-- Right -->
					<div ng-show="playerData.charID != null">
						<div class="col-xs-2">
							<button type="button" class="btn-lg" ng-class="{true:'btn-success', false:'btn-default glow'}[sceneLibrary[sceneSync.currentScene].script[sceneSync.currentLine].charID == playerData.charID]" ng-click="nextLine()" ng-hide="fin">Next Line</button>
						</div>
					</div>
				</div>

				<!-- Videos and Name Tags -->
				<div class="row videoTray">
					<div class="col-xs-6">
						<video id="localVideo"></video>
						<div class="text-center playerLine">{{playerData.charName}}</div>
					</div>
			    	<div class="col-xs-6">
			    		<div id="remotes"></div>
			    		<div class="text-center">{{player2.charName}}</div>
			    		<div class="text-center" ng-hide="(character.charID == playerData.charID) || character.free" ng-repeat="character in sceneSync.characterActorMap"}}>{{sceneLibrary[sceneSync.currentScene].characterList[character.charID].name}}</div>
			    	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="settings-panel">
		<div class="container">
			<!-- Settings Panel -->
			<div class="row">
				<div class="col-xs-6 pull-left">
					<p>Your lines appear at the top of the screen.</p>
					<p>Upcoming lines appear in italics.</p>
					<p>Hit 'enter' to advance a line.</p>
				</div>

				<div class="col-xs-3 pull-right characterSelectBox">
					<div class="row">
						
							<div class="text-left">Character:</div>
						
					</div>
					<div class="row characterBtn">
						<button type="button" class="btn btn-success" ng-click="pickCharacter(character)" ng-disabled="!sceneSync.characterActorMap[character.charID].free" ng-repeat="character in sceneLibrary[sceneSync.currentScene].characterList">{{character.name}}</button>
						<button type="button" class="btn btn-success" ng-click="clearCharacter()" ng-disabled="playerData.charID == -1">None</button>
						<button type="button" class="btn btn-success restartBtn" ng-click="restartScene()" ng-disabled="sceneSync.currentLine == 0">Restart Scene</button>
					</div>
				</div>

				<div class="col-xs-2 pull-right">
					<div class="row">
						<div class="text-left">Scene:</div>
					</div>
					<div class="row">
						<div class="sceneList" ng-repeat="scene in sceneLibrary">
							<button type="button" class="btn btn-success" ng-click="pickScene(scene.sceneID)" ng-disabled="scene.sceneID == sceneSync.currentScene">{{scene.name}}</button>	
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<p class="text-center" style="margin-top:30px; font-size:.7em;">By <a href="http://randylubin.com">Randy Lubin</a></p>
</div>